@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900;800&display=swap');
/* Navbar */
.navbar{
  background: rgba(0,0,0,0.9);
  height: 48px;
  max-height: 44px;
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
}

.navbar_list{
  list-style: none;
  display: flex;
  align-items: center;
  margin: auto;
}

.navbar_list li{
  color: rgba(255, 255, 255, 0.8);
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 14px;
  padding: 0 10px;
  margin: 0 25px;
}
.navbar_list li a{
  text-decoration: none;
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
}
.navbar_list li img{
  width: 20px;

}

.navbar_list li a:hover{
  color: white;
}
/* Fin Navbar */

/* Section One */
.section_one{
  padding-top: 10px;
  display: flex;
  position: relative;
  justify-content: center;
}

.black{
  color: white;
}

.section_one img{
  width: 100%;  
}

.section_one .text{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 70px;
}

.section_one .text h2{
  font-size: 55px;
  font-weight: 700;
}

.section_one .text h3{
  font-size: 25px;
  font-weight: 200;
}

.section_one .text a{
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #06c;
  text-decoration: none;
}

.section_one .text a:hover{
  text-decoration: underline;
}
/* Fin Section One */

/* Section Two */
.section_two{
  justify-content: center;
}
.section_two_e{
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
}
.section_two_e .section_one h2{
  font-size: 35px;
}

.section_two_e .section_one h3{
  font-size: 20px;
}
.section_two_e .section_one p{
  color: red;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;

}

/* Fin Section Two */

/* Footer */

.footer{
  background: #f5f5f7;
}

.footer .text{
  padding: 15px;
  width: 72%;
  margin: auto;
}

.footer .text p{
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin-top: 5px;
  font-size: 12px;
  color: #86868b;
  letter-spacing: .01em;
  font-weight: 400;
}

hr{
  margin-top: 20px;
}

.footer .text .list_info{
  width: 25%;
  display: inline-block;
  vertical-align: top;
}
.footer .text .list_info .title{
  color: #1d1d1f;
  font-weight: 600;
  margin-top: 15px;
}

.footer .text p a{
  text-decoration: none;
  color: #06c;
}

.footer .text p a:hover{
  text-decoration:underline;
  color: #06c;
}

.footer .text .bottom_info{
  display: inline-block;
  width: 33%;
}

.footer .text .bottom_info p{
  
}

/* Fin Footer */
